annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
black==25.12.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
-e git+https://github.com/celaya-solutions/civic-ledger-elpaso.git@8dc1e8b8d39d13571ba73bec1713b84205e51dd9#egg=civic_ledger_actions&subdirectory=civic-ledger-gpt
-e git+https://github.com/celaya-solutions/civic-ledger-elpaso.git@8dc1e8b8d39d13571ba73bec1713b84205e51dd9#egg=civic_ledger_mcp
click==8.3.1
courlan==1.3.2
cryptography==46.0.3
dateparser==1.2.2
defusedxml==0.7.1
fastapi==0.128.0
feedparser==6.0.12
filelock==3.20.2
h11==0.16.0
htmldate==1.9.4
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jusText==3.0.2
lxml==6.0.2
lxml_html_clean==0.4.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.25.0
mdurl==0.1.2
mypy_extensions==1.1.0
orjson==3.11.5
packaging==25.0
pathspec==0.12.1
pdfminer.six==20251230
platformdirs==4.5.1
pluggy==1.6.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
PyMuPDF==1.26.7
pypdf==6.5.0
pytest==9.0.2
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pytokens==0.3.0
pytz==2025.2
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-file==3.0.1
rich==14.2.0
rpds-py==0.30.0
ruff==0.14.10
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.1
sse-starlette==3.1.2
starlette==0.50.0
tld==0.13.1
tldextract==5.3.1
trafilatura==2.0.0
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.2
uvicorn==0.40.0
youtube-transcript-api==1.2.3
